*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Remove outline for all links, buttons, and icons on focus and active states */
a, i,button, :focus, :active {
    outline: none;
  }
  
  /* Optional: Remove tap highlight on mobile devices */
  a, i,button, input, textarea {
    -webkit-tap-highlight-color: transparent; /* For Safari/Chrome on iOS */
    tap-highlight-color: transparent; /* For other browsers */
  }


html,body{
    font-family: "Montserrat", sans-serif;
    background-color: #faf9f8;
    position: relative;
    scroll-behavior: smooth;
}
body {
    font-size-adjust: 0.5; /* Helps Firefox scale closer to other browsers */
}
/* For Chrome, Edge, and Safari */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    display: none;
  }
  
  ::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-radius: 10px;
    display: none;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
    border: 3px solid #f0f0f0;
    transition: background-color 0.3s ease;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
  
  /* For Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #888 #f0f0f0;
  }
  
::selection {
    background-color: #911d4e;
    color: white;
  }

  .response-box {
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #911d4e;
    color: #fff;
    padding: 12px 20px;
    border-radius: 6px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    font-size: 15px;
    z-index: 1000;
    transition: opacity 0.4s ease-in-out;
    opacity: 0;
}

.response-box.show {
    opacity: 1;
}

.response-box.hidden {
    display: none;
}


/*.page-container {
    display: flex;
    flex-direction: column;
    min-height: 90vh;
    flex-wrap: wrap;
}*/

.justify-centre{
    display: flex;
    justify-content: center;
}
.margin-top30{
    margin-top: 30px;
}
.margin-bottom30{
    margin-bottom: 30px;
}
.margin-top40{
    margin-top: 40px;
}
.margin-bottom40{
    margin-bottom: 40px;
}
.margin-top50{
    margin-top: 50px;
}
.margin-bottom50{
    margin-bottom: 50px;
}
.margin-right30{
    margin-right: 30px;
}
.margin-left30{
    margin-left: 30px;
}
.margin-right40{
    margin-right: 40px;
}
.margin-left40{
    margin-left: 40px;
}
.margin-right50{
    margin-right: 50px;
}
.margin-left50{
    margin-left: 50px;
}

.display-flex{
    display: flex;
    align-items: center;
}

button{
    width: fit-content;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;

}
.section-title-size{
    font-size: 42px;
}
.subtitle-size{
    font-size: 28px;
}
.context-size{
    font-size: 18px;
}

.styled-heading{
    position: absolute;
    color: #283561;
    font-size: 25px;
    font-weight: bold;
    position: relative;
    width: fit-content;
}
.styled-heading::before{
    content: '|';
    display: flex;
    justify-content: center;
    align-items: center;
    color: #283561;
    background-color: #283561;
    height: fit-content;
    width: 5px;
    position: absolute;
    left: -10px;
}



/*NAV BAR*/
nav{
    height: 90px;
    font-size: 18px;
    display: flex;
    align-items: center;
    color: #283561;
    justify-content: space-between;
    padding: 50px;
    position: sticky;
    top: 0;
    z-index: 50;
    background-color: #faf9f8;
}
nav .nav-logo{
    height: 80px;
    width: 80px;
    background: url(../images/company-logo.png);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}
.nav-logo-container{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #283561;
}

nav .copany-name{
    font-family: "Cinzel", serif;
    font-weight: bold;
}
nav ul{
    display: flex;
    gap: 15px;
    flex-grow: 1;
    justify-content: flex-end;
    font-size: 16px;
}
nav ul.show{
    display: flex;
    flex-direction: column;
    background-color: #283561;
    position: absolute;
    width: 400px;
    height: 90vh;
    top: 90px;
    left: 0;
    justify-content: space-between;
    padding-top: 20px;
    animation: slideInFromLeft 0.4s ease forwards;
    z-index: 1999;
}
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

nav ul.show li{
    color: white;
    margin-left: 20%;
}
nav ul a{
    margin-right: 30px;
    list-style: none;
    text-decoration: none;
    color: #283561;
    font-weight: 500;
    position: relative;
}


#nav-links a.active li {
    color: #911d4e; /* Or your highlight color */
    font-weight: bold;
    border-bottom: 2px solid #911d4e; /* Optional underline */
}



/*property card*/
.property-cards-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.property-cards-wrapper a{
    text-decoration: none;
}

.cards-container{
    text-decoration: none;
}

.cards-container a{
    text-decoration: none;
}



/* Property Card Styling */
.property-card {
    border-radius: 8px;
    margin: 10px 0px;
    width: 300px; /* This will allow 4 cards per row */
    box-sizing: border-box;
    transition: transform 0.3s ease;
    color: #283561;
    position: relative;
}



.property-card h3 {
    font-size: 1.25rem;
    margin: 10px 0px 10px 0px;
}

.property-card p {
    font-size: 1rem;
    margin-top: 5px;
}

/* Swiper Styling */
.swiper {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}
.image-slide {
    width: 100%;
    height: 250px; /* Adjust height as needed */
    background-size: cover;
    background-position: center;
    border-radius: 8px;
}
.swiper-wrapper{
    position: relative;
}

/* Heart icon */
.heart-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    z-index: 10;
    color: white; /* Default color */
    transition: color 0.3s ease;
}

.heart-icon:hover {
    color: white; /* Hover effect */
}

/* Optional: Style for favorited state */
.heart-icon.fa-regular {
    color: white;
}

.listing-type{
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 40;
    background-color: white;
    padding: 4px 8px 4px 8px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;
}

.card-square{
    width: 15px;
    height: 15px;
    border: 2px solid #283561;
}

.homesize{
    gap: 10px;
}

.swiper-pagination {
    bottom: 10px;
}


/* General style for both next and prev buttons */
  
  /* Style the arrow icons */
  .swiper-button-prev::after,
  .swiper-button-next::after {
    color: black;
    font-size: 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-radius: 52%;
    width: 20px;
    height: 20px;
    transform: scale(0.4);
    display: none;
  }

.property-card:hover .swiper-button-prev::after,
.property-card:hover .swiper-button-next::after {
  display: flex;
}

/* Style all dots */
.swiper-pagination-bullet {
    background-color: #ccc;
    width: 10px;
    height: 10px;
    opacity: 1;
    margin: 0 6px;
    transition: background-color 0.3s;
    border-radius: 50%;
  }
  
  /* Style the active (current) dot */
  .swiper-pagination-bullet-active {
    background-color: #000; /* Change to your brand color */
    width: 14px;
    height: 14px;
  }
  

footer{
    background-color: white;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 60px;
    gap: 40px;
    color: #283561;
    width: 100%;
}
footer .move-up{
    position: absolute;
    right: 60px;
    top: 60px;
    background-color: #283561;
    padding: 6px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
footer .move-up i{
    color: white;
    font-size: 20px;
}

footer .row1{
    display: flex;
    gap: 80px;
}
footer .column{
    display: flex;
    gap: 20px;
    flex-direction: column;
}
footer .column3{
    display: flex;
    gap: 30px;
    font-size: 26px;
}
footer .column2 a{
    text-decoration: none;
    color: #283561;
}


footer .fa-instagram{
    color: #BC0BAD;
}
footer .fa-facebook{
    color: blue;
}
footer .fa-tiktok{
    color: black;
}
footer .fa-youtube{
    color: #F70000;
}
footer .fa-whatsapp{
    color: green;
}
footer .column4{
    font-size: 38px;
    font-family: "Cinzel", serif;
    font-weight: bold;
    color: #283561;
}
footer hr{
    color: #283561;
}
footer .row2{
    gap: 10px;
}
footer .row2 a{
    color: #F70000;
    font-weight: bold;
}

/*buy a home page*/
.sticky-top{
    position: sticky;
    top: 90px;
    z-index: 50;
    background-color: #faf9f8;
    padding-bottom: 20px;
}

.all-pages-title{
    font-weight: 800;
    font-size: 24px;
    color: #911d4e;
}

.filter-container{
    gap: 40px;
}

.p-filter-container{
    gap: 40px;
    width: 440px;
    position: absolute;
    top: 30px;
    font-weight: 500;
    color: #911d4e;
    background-color: white;
    border-radius: 8px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    font-size: 14px;
    transform: scale();
}
.fa-rectangle-xmark{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    cursor: pointer;
}
.p-filter-container p{
    width: fit-content;
}
.p-filter-container p:hover{
    text-decoration: underline;
    cursor: pointer;
}
.filter-container select {
    color: #911d4e;
    width: 200px;
    font-weight: 500;
    height: 40px;
    border-radius: 40px;
    background-color: white;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    border: none;
    padding: 10px;
    outline: none;
    cursor: pointer;
}

.filter-container button{
    padding: 10px;
    border-radius: 40px;
    background-color: white;
    border: 1px #911d4e solid;
    color: #911d4e;
    cursor: pointer;
}
.filter-container button:hover{
    background-color: #911d4e;
    color: white;
}
  
button {
    background-color: #911d4e;
    color: white;
    border: none;
    padding: 12px 18px;
    border-radius: 25px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    outline: none;
  }
  
button:hover {
    background-color: #a52a5f;
    transform: translateY(-2px);
    color: white;
}
  
button:active {
    transform: scale(0.97);
}

button a{
    text-decoration: none;
    color: white;
}
@media screen and (max-width: 1510px) {
    nav ul{
        display: none;
    }
    

    nav ul li {
        color: white;
        margin-left: 20%;
        padding: 10px;
        border-radius: 4px;
        transition: background-color 0.3s ease;
    }

    nav ul li:hover {
        background-color: #40518f;
        cursor: pointer;
    }

    .menu-bar {
        width: 25px;
        height: 22px;
        display: flex;
        flex-direction: column;
        gap: 4px;
        cursor: pointer;
        position: absolute;
        right: 20px;
    }
    
    .line {
        height: 3px;
        background-color: #911d4e;
        border-radius: 2px;
        transition: all 0.3s ease;
    }
    
    /* Optional: if you want to animate it into an "X" on click */
    .menu-bar.active .line1 {
        transform: rotate(45deg) translate(5px, 5px);
    }
    .menu-bar.active .line2 {
        opacity: 0;
    }
    .menu-bar.active .line3 {
        transform: rotate(-45deg) translate(5px, -5px);
    }
}

@media screen and (max-width: 1420px) {
    footer .row1{
        flex-direction: column;
    }
    footer .row2{
        flex-direction: column;
        align-items: flex-start;
    }    

    .sticky-top{
        top: 0px;
        height: fit-content;
    }
}

@media screen and (max-width: 768px) {
    .all-pages-title{
        font-size: 18px;
    }
    .response-box{
        font-size: 10px;
        width: 200px;
    }
    .property-card{
        width: 90%;
      }
      .image-slide{
        height: 400px;
      }
      .property-cards-wrapper a{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .card-square{
        width: 12px;
        height: 12px;
    }
    .property-card h3{
        font-size: 16px;
    }
    .property-card p{
        font-size: 14px;
    }
   
    .section4{
        margin-top: 10px;
    }
    footer{
        padding: 20px;
        gap: 10px;
    }
    footer .move-up{
        height: 30px;
        width: 30px;
        right: 20px;
        top: 20px;
    }
    footer .column{
        gap: 10px;
        font-size: 12px;
    }
    footer .row1{
        gap: 30px;
    }
    footer .column4{
        font-size: 18px;
    }
    footer .row2{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    footer .row2 p{
        font-size: 10px;
    }
}
@media screen and (max-width: 520px) {
    nav ul.show{
        width: 100%;
        height: 93vh;
    }
    nav{
        padding: 0;
        justify-content: left;
    }
    nav .nav-logo{
        margin-left: 3%;
        height: 60px;
        height: 60px;
    }
    .nav-logo-container{
        gap: 4px;
        width: 100%;
    }
    nav .copany-name{
        width: 100%;
        font-size: 12px;
    }
    .sticky-top{
        height: 100px;
    }
    .p-filter-container{
        width: 300px;
        gap: 25px;
    }
    .all-pages-title{
        font-size: 14px;
    }
    .property-card{
      width: 90%;
      border-radius: 14px;
    }
    .image-slide{
      height: 300px;
    }
    .property-cards-wrapper{
        gap: 5px;
    }
  }
