.existing-images{
    display: flex;
    gap: 20px;
}
.existing-images img{
    border-radius: 4px;
}
.image-wrapper{
    position: relative;
}
.fa-trash{
    color: red;
    font-size: 24px;
    top: 6px;
    left: 6px;
    position: absolute;
    cursor: pointer;
}