.main-content-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.username{
    color: #a52a5f;
    font-weight: bold;
}
.listings{
    display: flex;
    flex-wrap: wrap;
}
.fa-pen-to-square{
    position: absolute;
    right: 10px;
    bottom: 50px;
    font-size: 24px;
}
@media screen and (max-width: 768px) {
    .username{
        font-size: 14px;
        text-align: center;
        font-weight: 600;
    }
    
}