form{
  width: 60%;
}


  input[type="text"],
  textarea {
    width: 100%;
    padding: 14px;
    margin: 10px 0;
    border: none;
    background-color: none;
    border-radius: 8px;
  }
  
input{
  border-bottom: 0.5px solid #283561;
  height: 60px;
}
  input[type="text"]:focus,
  textarea:focus {
    outline: none;
  }

textarea{
  height: 400px;
}

  .drop-zone {
    border: 2px dashed #afa2a2;
    border-radius: 6px;
    padding: 20px;
    text-align: center;
    color: #283561;
    cursor: pointer;
    margin-bottom: 10px;
    background-color: #d1d4e0;
    position: relative;
    height: 300px;
    width: 100%;

  }
  
  .drop-zone input {
    display: none;
  }
  
  .preview-area {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
  }
  
  .preview-area img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 6px;
    border: 1px solid #ddd;
  }
  
  button {
    background-color: #007BFF;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
  }
  