.select-container{
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
}

form{
  width: 60%;
}

  input[type="text"],
  textarea {
    width: 100%;
    padding: 14px;
    margin: 10px 0;
    border: none;
    background-color: none;
    border-radius: 8px;
    font-size: 20px;
  }
  
input{
  border-bottom: 0.5px solid #283561;
  height: 60px;
}
  input[type="text"]:focus,
  textarea:focus,select:focus {
    outline: none;
  }
  select,option{
    width: 30%;
    cursor: pointer;
    padding: 14px;
    margin: 10px 0;
    border: none;
    background-color: none;
    border-radius: 8px;
    font-size: 20px;
  }
 
  select option{
    border-radius: 6px;
  }

textarea{
  height: 400px;
  font-family: "Montserrat", sans-serif;
}

  .drop-zone {
    border: 2px dashed #afa2a2;
    border-radius: 6px;
    padding: 20px;
    text-align: center;
    color: #283561;
    cursor: pointer;
    margin-bottom: 10px;
    background-color: #fdfdfd;
    position: relative;
    height: 300px;
    width: 100%;

  }
  
  .drop-zone input {
    display: none;
  }
  
  .preview-area {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
  }
  
  .preview-area img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 6px;
    border: 1px solid #ddd;
  }
  
  
  .button-container{
    gap: 30px;
    color: #283561;

  }
  